body {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.bg_overly {
  background-color: transparent;
  background-image: linear-gradient(100deg, #4175fc 0%, #00000000 100%);
  opacity: 0.5;
  transition: 0.3s, border-radius 0.3s, opacity 0.3s;
}

.Overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: #000000a1;
  z-index: 1001;
}

.react-multiple-carousel__arrow--left {
  left: 0px !important;
}

.react-multiple-carousel__arrow--right {
  right: 1px !important;
}

.react-multiple-carousel__arrow {
  z-index: 0 !important;
}

.ant-drawer-title {
  text-align: center !important;
  font-weight: 900 !important;
  font-size: 26px !important;
}

.ant-drawer-content-wrapper {
  width: 450px !important;
}

.ant-drawer-body {
  padding: 0px !important;
}

.model {
  position: absolute;
  width: 50rem !important;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1000;
  background-color: white;
}

@media screen and (max-width: 1023px) {
  .model {
    width: 90% !important;
    margin-top: 33px;
    top: 40%;
  }
}

.boxShadow {
  box-shadow: rgba(147, 147, 148, 0.2) 0px 7px 20px 0px;
}


.otp-input {
  width: 50px !important;  /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  margin: 0 5px; /* Adjust spacing as needed */
  font-size: 20px; /* Adjust font size as needed */
  text-align: center;
  border: 1px solid #ccc !important; /* Adjust border style as needed */
  border-radius: 5px; /* Adjust border radius as needed */
}